<div class="row">
    <div class="col-md-6">
        <input type="text" id="txtNovaMensagem" name="txtNovaMensagem" />
        <input type="button" value="Enviar mensagem" onclick="location.href='/Home/SendMessage/message=lero'" />
    </div>
    <div class="col-md-6">
        <table id="tblMensagens" name="tblMensagens" border="1">
            <thead>
                <tr><th>Mensagem</th></tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    setInterval(function () {
        $.ajax({
            type: 'GET',
            url: '/Home/ReadMessages/',
            success: function (data) {
                if (data && data.length > 0) {
                    var rows = '';
                    $.each(data, function (index, value) {
                        rows += '<tr><td>' + value + '</td></tr>';                        
                    });
                    $("#tblMensagens tbody").html(rows);
                }
            }
        });
    }, 3000);
</script>
