<div class="row">
    <div class="col-md-10">
        <input type="text" id="txtNovaMensagem" name="txtNovaMensagem"  />        
    </div>
    <div class="col-md-2">
        <input type="button" />
    </div>
</div>
<div class="row">
    <table id="tblMensagens" name="tblMensagens">
        <thead></thead>
        <tbody>
        </tbody>
    </table>    
</div>

<script type="text/javascript">

</script>
